version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
  
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: fipe_user
      POSTGRES_PASSWORD: fipe_user_password
      POSTGRES_DB: fipe_db
    ports:
      - "5432:5432"
  
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  api-1:
    build:
      context: ./api1
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - postgres
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"

  api-2:
    build:
      context: ./api2
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8081:8080"

volumes:
  pg_data:
